*{
    margin: 0%;
    padding: 0%;
    font-family:neuropolitical;
}
body{
    background: url(img/bg/bbg.gif);
}

/* Menu de Navegação */
nav label{display: none;}
nav input{display: none;}
nav{
    display: flex;
    width: 100vw;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background:linear-gradient(90deg,rgb(3, 9, 92) 0%,rgb(135, 134, 134) 100%) ;
    z-index: 1;
}
nav ul{
    display: flex;
    list-style-type: none;
    justify-content:space-around;
    width: 800px;
}
#logo{
    width:70px;
}
li a{
    text-decoration: none;
    color:rgb(255, 255, 255);
}

nav li:hover{
    scale: 1.1;
    transition: 0.1s;
}

/* banner */
.banner{
    padding-top: 68px;
}
.banner img{
    width: 99vw;
    height: 290px;
}
#img1{
    position: absolute;
}
#img2{
    animation: cross 10s infinite;

}

@keyframes cross{

    0%{opacity: 0;}

    50%{opacity: 1;}

    100%{opacity: 0;}
}

/* SOBRE */
#Sobre img{
    margin-right: 5em;
    width: 500px;
}   
#Sobre{
    background: url(img/bg/bg1.jpg);
    background-size: cover;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding-bottom: 20vh;
    padding-top: 10vh;
    margin-top: -5px;
    background-blend-mode: color-burn;
}
#Sobre #bg{
    background-color: rgba(255, 255, 255, 0.356);
    margin-left: 5vw;
}
#Sobre p,h1{
    text-align: justify;
    width: 30vw;
    padding: 1vw;
    font-size: x-large;
}

/* GALERIA */
#galeria{
    padding-bottom: 10vh;
    background:url(img/bg/bgg.jpg);
    background-size: cover;
    background-position-x: center;
    margin-top: 30px;

}
#galeria h1{
    margin-left: 8vw;
    color: rgb(255, 255, 255);
}
#galeria div{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}
#galeria img{
    width: 350px;
    height: 300px;
    margin-top: 2em;
    box-shadow: 15px 15px black;
}
.card{
    max-width: 1200px;
}
.card img:hover{
    scale: 1.1;
    transition: 0.2s;
}

/* SERVIÇOS */
#serviços{
    background: url(img/bg/bgs2.webp);
    background-size: cover;
    width: 100vw;
    padding-bottom: 4vh;
    margin-top: 30px;
}
#serviços h1, #serviços ul{
    margin-left: 10vw;
}
#serviços h1{
    font-size: x-large;
}
#serviços ul,li{
    margin-top: 1vh;
    font-size: x-large;
}
#serviços div{
    display: flex;
    justify-content: space-between;
    margin-top: 3vh;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}
#serviços img{
    width: 400px;
    height:400px;
    box-shadow: 5px 5px black;
}

/* CONTATO */
#contato{
    display: flex;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.301);
}
#contato .AT{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: large;
}



/* rodapé */
.rodapé{
    margin-top: 3vh;
    display: flex;
    justify-content: space-between;
    background-color: rgb(124, 124, 124);
}
.rodapé img{
    width: 30px;
}
#rd1,#bt{
    width: 30vw;
}
#rd1 div{
    display: flex;
    align-items: center;
    margin: 1em;
}
#bt{
    align-self: flex-end;
    margin-right: -28vw;
}
#bt button{
    border-radius:10%;
    cursor: pointer;
    padding: 10px;
    border: none;
    background-color: rgb(124, 124, 124);
}
#bt button:hover{
    transition: 0.1s;
    animation: fb 1s;
    animation-fill-mode: forwards;
}
@keyframes fb{
    0%{border-left: 1px solid blue;}
    25%{border-top: 1px solid blue;}
    50%{border-right: 1px solid blue;}
    75%{border-bottom: 1px solid blue;}
    100%{border: 1px solid blue;background:radial-gradient(circle, rgba(162,161,161,1) 0%, rgba(7,25,252,1) 100%);}
}

.sac{
    display: flex;
    align-items: center;
    font-size: x-large;
    margin-bottom: 10px;
}
.sac button{
    width: 20vw;
    font-size: large;
    border-radius: 5px;
    cursor: pointer;
}
.sac #are{
    margin-left: 15px;
}
.sac button:hover{
    scale: 1.1;
}
.sac input{
    height: 18.5px;
}

#m{
    padding-top: 18px;        
}

/* screen 768px */

@media (max-width: 768px){
    /* sobre */
    #serviços img{
        width: 200px;
        height: 200px;
    }
    .sac{
        display: block;
    }
    .sac #are{
        margin-left: 0%;
    }
    .sac input{
        height: 30px;
    }

    #Sobre p,h1{
        text-align: justify;
        width: 400px;
        padding: 1vw;
        font-size: large;
    }
    #Sobre img{
        width: 200px;
        height: 200px;
        margin-right: 50px;
    }


    #galeria img{
        width: 250px;
        height: 200px;
    }


    nav label{display: block;}
    nav input{display: none;}
    nav label img{width: 30px;margin-left: 10px;}
    nav ul{
        display: block;
        position: absolute;
        margin-top: -330px;
        transition: 0.5s;
        width: 0px;
        padding-left: 10px;
        border: solid black 1px;
        background-color: rgba(4, 0, 255, 0.788);

    }
    nav ul a{font-size: 0;transition: 0.5s;}
    nav{
        justify-content: none;
        align-items: none;
    }
    nav input:checked ~ ul{
        margin-top: 260px;
        width: 200px;

    }
    nav input:checked ~ ul a{
        font-size: x-large;
    }
}